# Diretório de dependências
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diretório de build
dist/
build/

# Arquivos de ambiente (nunca subir dados sensíveis)
.env
.env.test
.env.production
.env.local

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Cache do Node
.nyc_output/
coverage/
.cache/
.tmp/

# Arquivos de lock (opcional ignorar alguns se usar só um gerenciador)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Testes
jest-coverage/
coverage/

# Arquivos de deploy/banco locais
*.sqlite3
*.bak
*.tmp
*.swp
